[submodule ".vim/bundle/syntatic"]
path = .vim/bundle/syntastic
url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tagbar"]
path = .vim/bundle/tagbar
url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-coffee-script"]
path = .vim/bundle/vim-coffee-script
url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-jade"]
path = .vim/bundle/vim-jade
url = https://github.com/digitaltoad/vim-jade.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
